<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container">
            <section id="seccion">
                <center>
                    <h3>Eduardo Silva Diaz</h3>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tempor nec massa senectus, dis enim quisque suspendisse elementum. Class ridiculus vestibulum felis laoreet parturient nunc ullamcorper turpis augue, enim nibh eros himenaeos sodales montes nisi aptent dui, placerat iaculis habitant maecenas mus dictum velit conubia. Himenaeos cursus vestibulum vitae ut ligula per nec augue dui, venenatis porta et sapien accumsan semper sodales in, odio aliquet risus curae a suspendisse lectus eu.

                        Sem viverra praesent lacinia purus cubilia arcu felis eget nam nunc litora dictum, iaculis sed magna facilisis massa gravida metus leo imperdiet malesuada sollicitudin varius, proin donec congue mus nullam feugiat egestas nibh tincidunt non eros. Consequat mus aptent mi praesent molestie purus ridiculus condimentum laoreet justo scelerisque a, elementum hac quis natoque dapibus blandit commodo curabitur vehicula mauris senectus potenti, porttitor et ultrices pulvinar integer magnis ut facilisi rutrum fusce lacus. Felis molestie curae lacus mi nisi pellentesque, arcu nostra congue rutrum egestas in taciti, aenean senectus sagittis duis justo.</p>
                </center>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>