#seccion {
    width: 1100px;
    height: 1000px;
    background-color: antiquewhite;
    max-width: 0 auto;
}

img {
    display: block;
    border: 1px sloid rgb(179, 135, 135);
    margin: 0 auto;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}